/* ----- INPUTS ----- */
.input-base {
  padding: 0.75rem;
  background-color: var(--c-bg-700);
  border: none;
  border-radius: 0.375rem;
  color: var(--primary-color);
  width: 100%;
  color-scheme: dark;
}

.btn {
  width: 100%;
  border-radius: 8px;
  background-color: var(--secondary-color);
  color: var(--background);
  padding: 16px;
  font-size: 1.2em;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  border: none;
  margin-top: 32px;
}



.btn-reset {
  background-color: brown;

  &:hover {
    background-color: rgb(126, 31, 31);
  }
}


.btn-exercise {
  background-color: cornflowerblue;

  &:hover {
    background-color: rgb(42, 72, 129);
  }
}





/* ----- ICONS ----- */
.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1.25rem;
  height: 1.25rem;
}

.exercise-icon {
  color: var(--secondary-color);
}