.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
  border-radius: 8px;
  background-color: var(--secondary-color);
  color: var(--background);
  padding: 12px;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  border: none;
  margin-top: 24px;

  &:hover {
    background-color: var(--secondary-color-alpha);
  }
}

.btn-danger,
.btn-reset {
  background-color: var(--danger-color);

  &:hover {
    background-color: var(--danger-color-alpha);
  }
}


.btn-exercise {
  background-color: cornflowerblue;

  &:hover {
    background-color: rgb(42, 72, 129);
  }
}





/* ----- ICONS ----- */
.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1.25rem;
  height: 1.25rem;
}

.exercise-icon {
  color: var(--secondary-color);
}