/* ------------------- */
/* ----- BUTTONS ----- */
/* ------------------- */

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
  border-radius: 8px;
  background-color: var(--secondary-color);
  color: var(--background);
  padding: 16px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  border: none;
  margin-top: 24px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  &:hover {
    background-color: var(--secondary-color-alpha);
  }
}

.btn-mini {
  padding: 4px;
  border: 1px solid var(--card-border);
  border-radius: 4px;
}

.btn-confirm {
  background-color: var(--confirm-color);
  color: var(--confirm-text);

  &:hover {
    background-color: var(--confirm-color-hover);
  }
}

.btn-cancel {
  background-color: var(--cancel-color);
  color: var(--cancel-text);

  &:hover {
    background-color: var(--cancel-color-hover);
  }
}

.btn-edit {
  background-color: var(--edit-color);
  color: var(--edit-text);

  &:hover {
    background-color: var(--edit-color-hover);
  }
}

.btn-delete {
  background-color: var(--delete-color);
  color: var(--delete-text);

  &:hover {
    background-color: var(--delete-color-hover);
  }
}

/* ------------------- */
/* ------ ICONS ------ */
/* ------------------- */
.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1.25rem;
  height: 1.25rem;
}

.success-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 12px;
  gap: 16px;
  color: #166534;
}

.success-icon {
  width: 48px;
  height: 48px;
}

.success-content p {
  font-size: 1.1em;
  font-weight: 500;
  margin: 0;
}

.error-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 12px;
  gap: 16px;
  color: #b91c1c;
}

.error-icon {
  width: 48px;
  height: 48px;
}

.error-content p {
  font-size: 1.1em;
  font-weight: 500;
  margin: 0;
  text-align: center;
}