.exercise-list-container>*+* {
  margin-top: 1rem;
}

.exercise-detail-title {
  color: var(--secondary-color);
  width: 100%;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--secondary-color);
  margin-bottom: 32px;
  text-align: center;
}

.exercise-card {
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--card-bg);
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: transform 0.15s ease;
}

.exercise-card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  pointer-events: none;
}

.exercise-card-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.exercise-card-subtitle {
  font-size: 0.8em;
  color: var(--primary-color);
}

.exercise-btn {
  width: 30px;
  height: 30px;
  color: var(--secondary-color);
}

.exercise-card.done {
  background-color: var(--card-bg-done);
  opacity: 0.8;
}

.exercise-card-title.done {
  text-decoration: line-through;
  color: #777;
}

.exercise-check-icon {
  margin-right: 12px;
  color: #888;
}

.exercise-card.done .exercise-check-icon {
  color: var(--card-border-done);
}

.set-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: 8px;
  margin-bottom: 12px;

  .set-info {
    display: flex;
    flex-direction: row;
    align-items: center;

    .set-number {
      font-weight: 600;
      font-size: 2em;
      padding-left: 8px;
    }

    .set-reps,
    .set-weight {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.6rem;
      font-weight: 700;
      height: 2.5rem;
      width: 4rem;
      border-radius: 4px;
      border: 1px solid var(--card-border);
      background-color: var(--card-bg-inputs);
      color: #ccc;
      margin-left: 16px;
      margin-right: 8px;
    }

  }

  .btn-check-set {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    color: #999;
  }
}

.set-card.done {
  background-color: var(--card-bg-done);
  border-color: var(--card-border-done);

  .set-info {
    .set-number {
      color: #333;
      text-decoration: line-through;
    }

    .set-reps,
    .set-weight {
      color: #333;
      border-color: var(--card-border-done);
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  .btn-check-set {
    color: var(--card-border-done);
  }
}



.exercise-group-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: -10px;
  margin-top: 24px;
}

.exercise-group-divider {
  border: none;
  border-top: 1px solid var(--secondary-color);
  margin-bottom: 16px;
}