.exercise-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: 8px;
  margin-bottom: 24px;

  h3 {
    width: 100%;
    text-align: center;
    margin: 0;
    font-weight: 600;
    color: var(--secondary-color);
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;

    label {
      font-weight: 500;
      font-size: 0.9em;
      color: var(--primary-color);
    }
  }

  input[type="text"],
  select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    color: var(--secondary-color);
    border: 1px solid var(--card-border);
    border-radius: 6px;
    box-sizing: border-box;
    background-color: var(--card-bg-inputs);
  }

  select {
    height: 40px;
  }

  .form-actions {
    display: flex;
    gap: 12px;
    margin-top: 8px;
  }
}

.exercise-list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .editor-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: var(--card-bg-inputs);
    border: 1px solid var(--card-border);
    border-radius: 6px;

    .item-info {
      display: flex;
      flex-direction: column;
      gap: 4px;

      strong {
        font-weight: 600;
        color: var(--primary-color);
      }

      span {
        font-size: 0.85em;
        color: var(--subtitle-color);
      }
    }

    .item-actions {
      display: flex;
      gap: 8px;
    }

  }
}

.exercise-divider {
  border: none;
  border-top: 1px solid var(--secondary-color);
  margin: 24px 0;
}

.exercise-list-title {
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 16px;
  color: var(--secondary-color)
}

.filter-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 4px;

  .filter-btn {
    width: 110px;
    padding: 8px 16px;
    font-size: 1em;
    font-weight: 700;
    color: var(--primary-color);
    background-color: var(--card-bg-inputs);
    border: 1px solid var(--card-border);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: var(--primary-color);
    }

    .active {
      background-color: var(--secondary-color);
      color: var(--card-bg);
      border-color: var(--primary-color);
    }
  }
}