.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  /* border: 1px solid red; */
}

.main-content-wrapper {
  width: 800px;
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.footer-buttons {
  width: 100%;
  flex-direction: column;
  display: flex;
  padding: 16px;
}

@media only screen and (max-width: 768px) {

  .main-container {
    width: 100%;
  }

  .main-content-wrapper {
    width: 100%;
    padding: 8px;
  }
}