@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url(header.css);
@import url(main.css);
@import url(pages.css);
@import url(components.css);
@import url(routines.css);
@import url(exercises.css);
@import url(main.css);

:root {
  --background: #282c34;
  --primary-color: #eeeeee;
  --secondary-color: #ffc621;
  --header-bg: #15171a;
  --card-bg: #16191f;
  --card-bg-inputs: #1f232c;
  --card-bg-hover: #1f232b;
  --card-bg-done: #021915;
  --card-border: #535d72;
  --card-border-done: #076c5b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--background);
  color: var(--primary-color);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none !important;
}