/* --- Routine Workout List --- */
.workout-routine-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  color: var(--secondary-color);
  width: 100%;
  padding: 0 8px;
  border-radius: 8px;

  h2 {
    width: 100%;
    margin-left: 16px;
  }

  img {
    width: 60px;
    padding: 8px;
    cursor: pointer;
  }
}

.workout-list-container>*+* {
  margin-top: 1rem;
}

.workout-group-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: -10px;
  margin-top: 24px;
}

.workout-group-divider {
  border: none;
  border-top: 1px solid var(--secondary-color);
  margin-bottom: 16px;
}

.workout-card {
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--card-bg);
  padding: 1.25rem;
  border-radius: 0.5rem;
  border-bottom: 1px solid var(--secondary-color);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: transform 0.15s ease;

  &:hover {
    background-color: var(--card-bg-inputs);
  }

  .workout-check-icon {
    margin-right: 12px;
    color: #888;
  }

  .workout-card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    pointer-events: none;

    .workout-card-title {
      font-size: 1.2rem;
      font-weight: 600;
      color: var(--secondary-color);
    }

    .workout-card-subtitle {
      font-size: 0.8em;
      color: var(--primary-color);
    }
  }

  .workout-btn {
    width: 30px;
    height: 30px;
    color: var(--secondary-color);
  }
}

.workout-card.done {
  background-color: var(--card-bg-done);
  opacity: 0.8;

  .workout-check-icon {
    color: var(--card-border-done);
  }

  .workout-btn {
    color: var(--card-border-done);
  }

  .workout-card-title {
    text-decoration: line-through;
    color: #777;
  }

}

.add-new-workout {
  margin-top: 200px;
}

.routine-actions-container {
  display: flex;
  gap: 12px;
  margin-top: 8px;
  border-top: 2px solid var(--secondary-color);
  padding-top: 8px;

}

/* --- Workout Details --- */

.workout-detail-title {
  color: var(--secondary-color);
  width: 100%;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--secondary-color);
  margin-bottom: 32px;
  text-align: center;
}

.set-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ccc;
  padding: 8px;
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: 8px;
  margin-bottom: 12px;

  .set-info {
    display: flex;
    flex-direction: row;
    align-items: center;

    .set-number {
      font-weight: 600;
      font-size: 1.2em;
      padding-left: 8px;
    }

    .set-reps,
    .set-weight {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      font-weight: 700;
      height: 2rem;
      width: 3rem;
      border-radius: 4px;
      border: 1px solid var(--card-border);
      background-color: var(--card-bg-inputs);
      margin-left: 16px;
      margin-right: 4px;
    }
  }

  .btn-check-set {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    color: #999;
  }
}

.done {
  background-color: var(--card-bg-done);
  border-color: var(--card-border-done);
  color: #333;

  .set-info {

    .set-reps,
    .set-weight {
      color: #333;
      border-color: var(--card-border-done);
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  .btn-check-set {
    color: var(--card-border-done);
  }
}

/* --- Empty State Workout List --- */
.empty-state-container {
  text-align: center;
  padding: 40px 20px;
  background-color: var(--card-bg);
  border-radius: 8px;

  .empty-list-message {
    font-size: 1.1em;
    color: var(--primary-color);
    margin-bottom: 20px;
  }
}